body {
  top: 0;
  margin: 0;
  color: #777;
  line-height: 1.9;
  font-family: Lato, sans-serif;
}

/* header */
.menu-nav {
  position: fixed;
  display: flex;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  background: #fff;
  padding-left: 10px;
}

.menu-nav .menu {
  display: flex;
  gap: 0.1vw;
}

.bars {
  visibility: hidden;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
}

.menu p {
  font-weight: bolder;
  padding: 0.3rem 0.5rem;
}

.nav-search {
  position: absolute;
  margin-left: 93%;
}

.portfolio-images p {
  height: 16vh;
}

.menu p:hover {
  background-color: #ccc;
}

/* home */
.home {
  background-image: linear-gradient(#d8d2d27a, #dfd7d777), url("https://www.w3schools.com/w3images/parallax1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem;
  object-fit: cover;
  justify-content: center;
  text-align: center;
  padding-left: 35%;
  padding-right: 35%;
  opacity: 1;
}

.home .home-heading {
  background-color: #383838;
  color: #fff;
  padding: 0.1vw 1vw;
  word-spacing: 10px;
  letter-spacing: 10px;
  font-size: 13px;
  font-weight: lighter;
}

/* about */
.about {
  max-width: 960px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.about-content {
  text-align: center;
}

.about-image {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.about-img h3 {
  text-align: center;
}

.portfolio-picture img {
  width: 100%;
}

.about-picture img {
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 3%;
  opacity: 0.6;
  z-index: 1;
}

.about-picture img:hover {
  opacity: 1;
}

.skills {
  text-align: center;
  font-size: 20px;
}

.skill-title {
  letter-spacing: 10px;
  font-weight: 400;
}

.skill-photography,
.skill-web-design,
.skill-photoshop {
  color: #fff;
  background-color: lightgray;
  height: 32px;
}

.skill-photography .skill-high {
  width: 90%;
  background-color: #616161;
  text-align: center;
  color: #fff;
  padding: 1rem;
  margin-bottom: 0;
}

.skill-web-design progress {
  width: 85%;
  padding: 1rem;
  background-color: #616161;
  color: #fff;
}

.skill-photoshop progress {
  width: 75%;
  padding: 1rem;
  background-color: #616161;
}

.skills-percentage {
  text-align: center;
  color: #fff;
  position: absolute;
  margin-top: -40px;
  margin-left: 30vw;
  font-size: 20px;
}

/* testimonials */
.testimonials-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #777;
  color: #fff;
  font-size: 23px;
  margin-top: 60px;
  text-align: center;
  line-height: 0.5;
  padding: 1.5rem 2rem;
}

/* portfolio */
.portfolio-work {
  padding: 90px;
}

.portfolio-im {
  background-image: linear-gradient(#d8d2d27a, #dfd7d777), url("https://www.w3schools.com/w3images/parallax2.jpg");
  background-position: center;
  display: flex;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1pc;
}

.portfolio-details {
  text-align: center;
}

.portfolio-my-work {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.portfolio-images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 900px;
  margin: auto;
  gap: 15px;
}

.portfolio-images p:hover {
  opacity: 0.6;
}

.portfolio-more {
  display: flex;
  background-color: rgb(0 0 0 / 16%);
  color: #000;
  max-width: 100px;
  padding: 1rem;
  margin: auto;
  justify-content: center;
}

.portfolio-more:hover {
  background-color: #777;
  cursor: pointer;
}

/* contact */
.contact-images {
  display: flex;
  background-image: linear-gradient(#d8d2d27a, #dfd7d777), url("../images/parallax3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1pc;
  margin-top: 50px;
}

.contact-details {
  padding: 50px;
}

.contact-content {
  padding-bottom: 50px;
  text-align: center;
}

.contact-content h4 {
  font-size: 20px;
}

.contact-location-info {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 980px;
  margin: auto;
  gap: 2px;
}

.contact-location .picture {
  width: 80%;
  border-radius: 10px;
}

input[type="email"] {
  display: block;
  padding: 1rem 2rem;
  width: 73%;
}

input[type="text"] {
  display: block;
  width: 87%;
  padding: 1rem 2rem;
}

.first-part-form {
  display: flex;
  grid-template-columns: auto auto;
  gap: 45px;
  margin-bottom: 2%;
}

.message {
  margin-bottom: 2%;
}

.contact-button button {
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
}

.footer-contain button {
  padding: 1rem 4rem;
  font-size: 15px;
}

.contact-button button:hover {
  background-color: #777;
}

.contact-button {
  display: flex;
  justify-content: flex-end;
  margin-left: 10vw;
}

/* footer */
.end-page {
  display: flex;
  flex-direction: column;
  background-color: #777;
  color: #fff;
  min-height: 250px;
  justify-content: center;
}

.end-page:hover {
  background-color: #030303;
}

.footer-contain {
  max-width: 900px;
  margin: auto;
}

.fa-arrow-up {
  color: #000;
}

.social-media {
  padding: 1rem;
  align-items: center;
}

.social-media-icons {
  font-size: 20px;
}

.footer-link {
  color: #fff;
}

/* responsiveness */
@media screen and (max-width: 427px) {
  .menu .users,
  .fa-search,
  .th,
  .envelope {
    visibility: hidden;
  }

  .bars {
    visibility: visible;
    position: absolute;
    margin-left: 80%;
  }

  .home .home-heading {
    visibility: hidden;
  }

  .home .home-heading::after {
    visibility: visible;
    content: "My logo";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size: 5vw;
    background-color: #383838;
    color: #fff;
  }

  .about-picture img {
    opacity: 1;
  }

  .testimonials-content,
  .portfolio-images,
  .about-image,
  .first-part-form,
  .contact-location-info {
    display: flex;
    flex-direction: column;
  }

  .portfolio-my-work {
    margin: 1;
    gap: 15px;
  }

  .portfolio-images p {
    height: 15vh;
  }

  .about,
  .contact-location-info {
    max-width: 90vw;
    margin: auto;
    margin-bottom: 20px;
  }

  .contact-button {
    display: grid;
    grid-template-columns: auto auto;
  }

  .first-part-form {
    display: flex;
    grid-template-columns: auto auto;
    gap: 1px;
  }

  input[type="text"],
  input[type="email"] {
    padding: 1rem;
    width: 90%;
  }
}
