body {
  top: 0;
  margin: 0;
  color: #777;
  line-height: 1.9;
}
  /* header */
  .menu-nav {
    position: fixed;
    display: flex;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background:  #fff;
    padding-left: 20px;
  }
  
  .menu-nav .menu {
    display: flex;
    gap: 1vw;
    
  }
  
  .menu a {
    text-decoration: none;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
  }
  
  .menu p {
    font-weight: 500;
    padding: 0.3rem 0.5rem;
  }
  
  .menu p:hover {
   background-color: #575757;
  }
  
/* home */
.home {
  background-image:linear-gradient(#d8d2d27a,#dfd7d777), url("https://www.w3schools.com/w3images/parallax1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 10rem;
  object-fit: cover;
  justify-content: center;
  text-align: center;
  padding-left:35%; 
  padding-right: 35%;
  opacity: 1;
}

.home h1 {
  background-color: #383838;;
  color: #fff;
  padding: 10px 1rem;
  word-spacing: 10px;
  letter-spacing: 10px;
  font-family: fantasy;
}
